/*  File Name : login_style.css   
*   Description : Style Sheet for App42PaaS   
*   Author  : Rameshwar Sah  Date: 3rd,June,2013  Creation  */           

body{margin:0 auto; background-color:#e5e5e5;}
#header { background-color: #121212; color: white; text-align: center;position: relative;height: 70px; }
#nav { line-height: 30px; background-color: #e5e5e5; height: 300px; width: 100px; float: left; padding: 5px; }
#section { width: 60%; padding: 10px; background-color:#e5e5e5; color:#1c4967; margin:0 auto;}
#footer { background-color: #121212; color: #b7b7b7; clear: both; text-align: center; padding: 5px; position:fixed; bottom:0; width:100%;font-size: 13px;padding: 10px 0px;font-family: Arial,Helvetica,sans-serif;}
* {
    margin: 0;
    outline: medium none !important;
    padding: 0;
}
#section   .heading{font-size:30px;margin-bottom: 50px;text-align:center !important;margin-top: 30px;}
/********************************** Login ******************************************/
.AppPaaS_login_wrapper {
    margin: 0 auto;
    padding-top: 20px;
    width: 547px;
}
.AppPaaS_login_wrapper_2 { position: relative!important; margin-top: -257px!important;}
.AppPaaS_login_inner{float:left; width:550px;}
.AppPaaS_login_inner h1{ color: #101010; font-family: Arial,Helvetica,sans-serif; font-size: 25px; font-weight: normal; margin: 0; padding: 0; width: 550px; }
.AppPaaS_login_inner h2{ color:#101010; font-family: Arial,Helvetica,sans-serif; font-size:13px; font-weight:normal; margin:4px 0 0 0; padding:0px; float:left; width:550px;}

.AppPaaS_login_bg_wrapper {
    background-image: url("../images/registration/login_btn_bg.png");
    background-repeat: no-repeat;
    float: left;
    height: 240px;
    margin: 35px 0 0 55px;
    width: 424px;
}.login_with_shephertz_btn{float:left; margin:32px 0 0 41px; width:342px;}

.AppPaaS_login_info_wrapper{float:left; width:436px; min-height: 135px; background-image: url(../images/registration/login_info_box.png); background-repeat: no-repeat; margin:2px 0 0 54px; padding:20px 0 0 10px}
.AppPaaS_steps_box_p{float:left; width:370px; min-height:16px; padding-left:40px; margin-bottom:20px; font-family:"Open Sans"; font-size:12px; color:#7f7f7f; font-style:italic; background-image:url(../images/registration/chk_image.png); background-repeat:no-repeat; background-position: 14px 2px; }
.login_flashMessage{ width:393px; margin:0 auto; padding:15px; border:1px solid #bbb; border-radius: 5px 5px 5px 5px; font-size:13px; margin-bottom:10px; text-shadow:0 1px 0 rgba(255, 255, 255, 0.7);  
background: #fefbef; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmJlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGYyY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fefbef 0%, #fdf2cc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefbef), color-stop(100%,#fdf2cc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefbef 0%,#fdf2cc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefbef 0%,#fdf2cc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefbef 0%,#fdf2cc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefbef 0%,#fdf2cc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefbef', endColorstr='#fdf2cc',GradientType=0 ); /* IE6-8 */}
.login_with_github_btn{ float:left; margin:53px 0 0 41px; width:342px;}
.login_btn_box{float:left; width:170px;}
/*.login_with_github_btn a { background-image: linear-gradient(#fbecdd, #ebc79b); border: 1px solid #d3aa73; box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset, 0 0 5px rgba(255, 255, 255, 0.35) inset, 0 2px 2px rgba(0, 0, 0, 0.15); color: #595959; cursor: pointer; display: inline-block; font-size: 13px; font-weight: 500; height: 24px; line-height: 24px; margin: 0 5px; outline: 0 none; padding: 0 10px 0 15px; position: relative; text-align: right; text-decoration: none; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); transition: all 0.1s ease 0s; width: 132px; float:left; font-family:"Open Sans";}
.login_with_github_btn a img { left: 10px; position: absolute; top: 4px; width: 18px;}
.login_with_github_btn a:hover { background-image: linear-gradient(#F7F3ED, #F0E3CC);}*/

/************* Registration **********************/
.errer { background-image: url("../images/error.png"); background-position: 0 0px; background-repeat: no-repeat; color: #864D4D; float: left; margin-left: 0px; margin-top: 3px; padding-bottom: 0; padding-left: 20px; padding-top: 0px; margin-bottom: 5px; font-size:11px; }
.AppHQ_registration_wrapper_inner{ float:left; width:964px; padding:30px; background-image:url(../images/registration/registration-page-separator.png); background-repeat:no-repeat; background-position: 536px -36px; }
.AppHQ_registration_left_panel{ float:left; width:534px; padding-right:30px;}
.AppHQ_registration_left_panel h1{float:left; width:514px; margin:0 0 20px 0; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#696969; font-weight:normal;}
.AppHQ_registration_left_panel h2{float:left; width:514px; margin:0 0 20px 0; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#696969; font-weight:normal;}
.AppHQ_registration_left_panel h3{float:left; width:514px; margin:25px 0 0 20px; font-style: normal; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#696969; font-weight:normal;}
.AppHQ_steps_box{float:left; width:514px; min-height:229px; margin:0 0 20px 0; font-style:italic; padding-bottom:15px;}
.AppHQ_steps_box_p{float:left; width:458px; min-height:16px; padding-left:30px; margin-bottom:25px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#3F3F3F; background-image:url(../images/registration/chk_image.png); background-repeat:no-repeat; background-position: 0px 2px; }
.margintop{margin-top:15px;}
.AppHQ_registration_right_panel{ float:left; width:392px;}
.AppHQ_registration_right_panel h4{float:left; width:362px; margin:0 0 20px 0; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#696969; font-weight:normal;}
.appHQ_form_wrapper{float:left; width:362px;}
.appHQ_form_wrapper_tr{float:left; margin-bottom:5px;}
.appHQ_form_wrapper_tr label{float:left; min-width:157px; font-size:14px; color:#696969; }
.infomsg{float:left; width:362px; font-size:12px; color:#7F7F7F; padding-top: 4px;}
.label1{width:157px; margin-right:7px; }
.label2{width:157px; }
.label1 span{color:#c42020;}
.left2 span{color:#c42020;}
.appHQ_form_wrapper_td1{float:left; width:157px; margin-right:7px; margin-top:10px;}
.appHQ_form_wrapper_td2{float:left; width:157px; margin-top:10px;}
.appHQ_form_wrapper_td3{float:left; width:362px; margin-top:10px;}
.appHQ_form_wrapper_td3 input { background-color: #f8f6f7; border: 2px solid #5dad22; color: #696969; font-family:"Open Sans"; font-size: 12px; padding: 8px 5px; width: 342px; }
.appHQ_chk_box_wrapper{ float:left; margin-bottom:8px;}
.appHQ_chk_box{float:left; width:362px; color:#353535; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
.appHQ_chk_box .left{float:left;}
.appHQ_chk_box .left2{float:left; margin-left:5px; padding-top:3px;}
.appHQ_chk_box a{color:#252525; text-decoration:underline;}
.appHQ_chk_box a:hover{color:#0e60ba; text-decoration:underline;}
.appHQ_btn_wrapper2{ width:423px; float:left; margin-top:10px;}
.appHQ_fbBtn_wrapper{ width:423px; float:left; margin-top:10px; text-align: center!important}
.appHQ_btn_wrapper{ width:335px; float:left; margin-top:10px; text-align:center;}
.appHQ_btn_or{ float:left; margin:9px 0px 0px; color:#535353; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center; font-style:normal!important; width:423px;}
.appHQ_error{ width:297px; float: left; background-image: url(../images/registration/errer_bg.png); background-repeat: no-repeat; height: 23px; font-family: Tahoma; font-size: 14px; color: #c82820; padding-left: 25px; padding-top: 5px; clear:both; margin-bottom:10px; }
.login_panel_1{float:left; margin:20px 0 0 37px; text-align:center; }
/*.login_panel_1 a { background-image: linear-gradient(#fbecdd, #ebc79b); border: 1px solid #d3aa73; box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset, 0 0 5px rgba(255, 255, 255, 0.35) inset, 0 2px 2px rgba(0, 0, 0, 0.15); color: #595959; cursor: pointer; display: inline-block; font-size: 15px; font-weight: 500; height: 27px; line-height: 27px; margin: 0 5px; outline: 0 none; padding: 0 10px 0 15px; position: relative; text-align: right; font-style:normal; text-decoration: none; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); transition: all 0.1s ease 0s; width: 148px; margin-left:58px;}
.login_panel_1 a:hover { background-image: linear-gradient(#F7F3ED, #F0E3CC);}
.login_panel_1 a img { left: 10px; position: absolute; top: 4px; width: 18px;}*/
.login_btn_box{float:left; width:170px;}
.AppHQ_steps_box h3{color: #696969; float: left; font-family: Arial,Helvetica,sans-serif; font-size: 22px; font-weight: normal; margin: 10px 0 0 0px; text-align:left}
.spinner_wrapper{ float:left; padding:10px; border-radius: 5px 5px 5px 5px; background-color:#f8f6f7; border:1px solid #a1c4ce; width:468px;}
.spinner_img{ float:left; margin-right:10px;}
.spinner_txt{ float:left; font-family: Arial,Helvetica,sans-serif; color: #575757; font-size:14px;}
.message { float:left; padding:5px; background-color:#c7e8f4; border:1px solid #a3d5e7; color:#315461; font-size:14px; border-radius: 4px 4px 4px 4px; margin-bottom:10px; width:553px; text-align:center}
.success_message{ border:1px solid #AEC18E; float:left; width:812px; padding:10px 44px; color:#4F8A10; background-color: #DFF2BF; background-image:url(../images/registration/success.png); background-repeat:no-repeat; background-position:10px 6px; font-size:12px; font-family: "Myriad Pro",Helvetica,Arial,sans-serif !important; border-radius: 5px 5px 5px 5px;; margin-bottom:10px;}
.login_flashMessage { background: none repeat scroll 0 0 #F9EDBE; border: 1px solid #F0C36D; border-radius: 5px 5px 5px 5px; color: #222222; float: left; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: normal; padding: 10px; text-align: left; width: 944px; text-align:center;}
.error_message{ background-color: #FFBABA; background-image: url("../images/registration/error.png"); background-position: 10px 6px; background-repeat: no-repeat; border: 1px solid #DA4A4A; border-radius: 5px 5px 5px 5px; color: #B72B2B !important; float: left; font-family: arial; font-size: 12px; margin: 20px 10px; padding: 10px 44px; width: 914px; text-align:center;}
.social_login_wrapper{ float:left; margin:30px 0 0;}
.social_login_wrapper .facebook{ float:left;}
.social_login_wrapper .github{ float:left;}
.inner_margin{ margin-top:100px;}
.veri_flashMessage { background: none repeat scroll 0 0 #F9EDBE; border: 1px solid #F0C36D; border-radius: 5px 5px 5px 5px; color: #222222; float: left; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: normal; line-height: 26px; margin-top: -246px; padding: 10px; position: absolute; text-align: center; width: 1024px; z-index: 99 !important;}
/*************** Key Wrapper ****************************/
.key_wrapper{ float:left; width:964px; padding:30px 20px;}
.key_box{ float:left; width:100%; margin:50px 0; border:1px solid #69afc4; background-color:#aedbe9; color:1E68AC; font-family:"Open Sans"; font-size: 14px;text-align: center; border-radius: 5px 5px 5px 5px; padding:15px 10px;}
.key_box span{ font-weight:bold; padding-right:10px; color:#438dd1; width:75px; float:left;}
.login_btn_wrapper{float:left; width:100%; text-align:center; margin:20px 0}
/*************** Key Wrapper End ****************************/